.contacts-address {
  & h2 {
    position: relative;
    color: $color-default-white;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 20px 0;

    @include vp-1023 {
      font-weight: 400;
    }

    @include vp-767 {
      margin: 0;
      padding: 20px 76px 20px 24px;

      &::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 1px;
        background-color: $color-alice-bright-blue;
        right: 26px;
        top: 20px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 1px;
        background-color: $color-alice-bright-blue;
        right: 26px;
        top: 20px;
        transform: rotate(90deg);
      }
    }
  }

  & ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include vp-767 {
      width: 270px;
      margin: 0 auto 0 auto;
    }
  }

  & li {
    color: $color-footer-white-opacity;
    font-style: normal;
    list-style-type: none;
    font-family: $ff-PT-Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 345px;

    &:last-child {
      padding-bottom: 20px;
    }
  }

  & a {
    color: $color-footer-white-opacity;
    line-height: 25px;

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  & span {

    line-height: 22px;

    @include vp-767 {
      display: block;
      margin-bottom: 5px;
    }
  }
}
