.footer {
  background: #041827;

}

.footer__container {
  margin: 0 auto;
  max-width: 1228px;
  padding: 50px 4px 55px 4px;
  display: flex;

  @include vp-1023 {
    flex-direction: column;
    max-width: 690px;
    padding: 50px 5px 65px 10px;
  }

  @include vp-767 {
    max-width: 270px;
    padding: 35px 0px 35px 0px;
  }
}

.footer__contacts {
  max-width: 345px;

  @include vp-1023 {
    padding-right: 5px;
    max-width: 325px;
  }

  @include vp-767 {
    padding-right: 0;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);

    &.is-active [data-accordion='button']::before {
      display: none;
    }
  }
}

.footer__chapters {
  margin: 0 0 0 auto;
  padding-right: 20px;

  @include vp-1023 {
    margin: 0;
    padding: 0;
  }

  @include vp-767 {
    border-top: 1px solid rgba(248, 253, 255, 0.7);

    &.is-active [data-accordion='button']::before {
      display: none;
    }
  }

  &.is-active ul {
    @include vp-767 {
      margin-bottom: 20px;
    }
  }
}

.footer__accordion {
  display: flex;
  margin-left: auto;

  @include vp-1023 {
    margin: 0;
    justify-content: space-between;
    width: 675px;
  }

  @include vp-767 {
    flex-direction: column;
    width: 100%;
  }
}
