.services {
  background: $color-black-pearl;
}

.services__container {
  padding: 66px 65px 140px 63px;
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: content-box;

  @include vp-1023 {
    padding: 55px 50px 75px 50px;
  }

  @include vp-767 {
    padding: 47px 25px 86px 25px;
  }
}

.services__title {
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 53px;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 29px;
    max-width: 260px;
  }
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: percentage(85 / 1220);

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
  }
}

.services__item {
  max-width: 350px;
  position: relative;

  @include vp-1023 {
    max-width: none;
    min-height: 250px;
  }
}

.services__short-title {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services__long-title {
  @include vp-767 {
    display: none;
  }
}
